:root{
    --cor-base: #333333;
    --cor-menu: #036;
    --cor-menu-lateral: #dcdcdc;
    --cor-menu-lateral-itens: white;    
}


.sacola{
    background: url(IMG/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    
    padding-top: 8px;
    
    position: absolute;
    top: 0;
    right: 0;;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul{
    color: var(--cor-menu);
    font-size: 15px;
    
    
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
        
}

.menu-opcoes a{
    color: #003366;
}

body{
    color: var(--cor-base);
    font-family: "Lato", sans-serif;
}

.container{
    margin: 0 auto;
    width: 90%;
}

header{
    position: relative;

}

.busca,
.menu-departamentos{
    background-color: var(--cor-menu-lateral);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.menu-departamentos{
    margin-top: 10px;
    padding-bottom: 10px;
    clear: left;
}


.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: var(--cor-menu-lateral-itens);
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: var(--cor-base);
    text-decoration: none;
}

.busca input{
    vertical-align: middle;
    
}

.busca input [type=search] {
    width: 170px;
}

.painel{
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;

}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 145px;
    margin: 2px;
    padding-bottom: 10px;
}

.novidades{
    background-color: #f5dcdc;
}

.mais-vendidos{
    background-color: #dcdcf5;
}